@font-face {
  font-family: 'TheJamsil';
  src: url('../fonts/TheJamsil/TheJamsilThin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../fonts/TheJamsil/TheJamsilLight.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../fonts/TheJamsil/TheJamsilRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../fonts/TheJamsil/TheJamsilMedium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../fonts/TheJamsil/TheJamsilBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('../fonts/TheJamsil/TheJamsilExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
